div{
    background-color: aqua;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    border-radius: 10px;
}
.name{
    color: blue;
}
.price{
    color: white;
}
.matter{
    color: whitesmoke;
}